In [20]:
# Import Core dependencies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
%matplotlib inline

In [2]:
data = pd.read_csv("../datasets/energydata_complete.csv")

In [8]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [9]:
print(data.shape)

(19735, 29)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [5]:
data.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

### Data Preprocessing

In [10]:
data = data.drop(["date", "lights"], axis=1)

In [11]:
data.columns

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [12]:
# Data Normalization using MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)

X = normalised_data.drop(columns="Appliances")
y = normalised_data["Appliances"]

# Split the data using train_test_split()
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=42)

#### Question 12: Ans - 0.64

In [15]:
var_T2 = np.array(data["T2"])
var_T6 = np.array(data["T6"])

In [17]:
from sklearn.linear_model import LinearRegression

model_T2T6 = LinearRegression()
model_T2T6.fit(var_T2, var_T6)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
r2_score = model_T2T6.score(var_T2, var_T6).round(2)
r2_score

0.64

#### Question 13: Ans - 0.05

In [27]:
# First create an instance of model, train it, then evaluate it

model = LinearRegression()
model.fit(X_train, y_train)
preds = model.predict(X_valid)
print("Mean Absolute Error (MAE): ", round(mean_absolute_error(y_valid, preds), 2))

Mean Absolute Error (MAE):  0.05

#### Question 14: Ans - 45.35

In [29]:
res_sum = round(np.sum(np.square(y_valid - preds)),2)
res_sum

45.35

#### Question 15: Ans - 0.088

In [32]:
rmse = round(np.sqrt(mean_squared_error(y_valid, preds)), 3)
rmse

0.088

#### Question 16: Ans - 0.15

In [35]:
# Coefficient of Determination (R2 Score)
r2_score_val = round(r2_score(y_valid, preds), 2)
r2_score_val

0.15

#### Question 17: Ans - RH_2, RH_1

In [41]:
feature_weights = model.coef_
feature_weights

array([-0.00328105,  0.5535466 , -0.23617792, -0.45669795,  0.29062714,
        0.09604827,  0.028981  ,  0.02638578, -0.01565684,  0.01600579,
        0.23642491,  0.03804865,  0.01031878, -0.04461364,  0.10199505,
       -0.15759548, -0.18994077, -0.03980032, -0.32185967,  0.00683933,
       -0.07767065,  0.02918313,  0.01230661,  0.11775773,  0.0007701 ,
        0.0007701 ])

In [44]:
features = X_train.columns
features

Index(['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5',
       'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out',
       'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1',
       'rv2'],
      dtype='object')

In [47]:
feature_col_weights = pd.DataFrame({"Features": features, "feature_weights": feature_weights}).sort_values(by="feature_weights")

In [52]:
feature_col_weights

       Features  feature_weights
3          RH_2        -0.456698
18        T_out        -0.321860
2            T2        -0.236178
16           T9        -0.189941
15         RH_8        -0.157595
20       RH_out        -0.077671
13         RH_7        -0.044614
17         RH_9        -0.039800
8            T5        -0.015657
0            T1        -0.003281
24          rv1         0.000770
25          rv2         0.000770
19  Press_mm_hg         0.006839
12           T7         0.010319
22   Visibility         0.012307
9          RH_5         0.016006
7          RH_4         0.026386
6            T4         0.028981
21    Windspeed         0.029183
11         RH_6         0.038049
5          RH_3         0.096048
14           T8         0.101995
23    Tdewpoint         0.117758
10           T6         0.236425
4            T3         0.290627
1          RH_1         0.553547

In [68]:
print("Details of feature with lowest weight is: \n")
feature_col_weights.iloc[0]

Details of feature with lowest weight is:

Features               RH_2
feature_weights   -0.456698
Name: 3, dtype: object

In [69]:
print("Details of feature with highest weight is: \n")
feature_col_weights.iloc[-1]

Details of feature with highest weight is:

Features               RH_1
feature_weights    0.553547
Name: 1, dtype: object

#### Question 18: Ans - No

In [70]:
from sklearn.linear_model import Ridge

reg_ridge = Ridge(alpha=0.4)
reg_ridge.fit(X_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [76]:
pred_ridge = reg_ridge.predict(X_valid)
rmse_ridge = round(np.sqrt(mean_squared_error(y_valid, pred_ridge)),3)
print(rmse_ridge)
if rmse_ridge == rmse:
    print("No changes!!")
else:
    print("Changes occurred")

0.088
No changes!!

#### Question 19: Ans - 4

In [77]:
from sklearn.linear_model import Lasso

reg_lasso = Lasso(alpha=0.001)
reg_lasso.fit(X_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [82]:
len(reg_lasso.coef_[reg_lasso.coef_ != 0])

4

#### Question 20: Ans - 0.094

In [84]:
# Get prediction using the Lasso Model
pred_lasso = reg_lasso.predict(X_valid)

new_rmse_lasso = round(np.sqrt(mean_squared_error(y_valid, pred_lasso)),3)
new_rmse_lasso

0.094