In [61]:
# Import Dependencies
import pandas as pd
import numpy as np

In [8]:
# Data
url = "https://bit.ly/HDSC-StageOneDataset"
fuel_data = pd.read_csv(url, error_bad_lines=False)

In [9]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [10]:
fuel_data.shape

(29523, 11)

In [11]:
fuel_data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_2007_12_79_2_4,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [12]:
fuel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [15]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

# Answers to Graded Quiz

### Question 1 - 
##### Answer is A.extend(B)

In [16]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

### Question 2 - 
##### Answer is np.identity(3)

In [62]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Question 3 - 
##### Answer is gas

In [39]:
fuel_type = fuel_data.groupby("fuel_type_code_pudl").fuel_cost_per_unit_burned.mean()

In [49]:
fuel_type

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [60]:
print("The fuel type code that has the lowest average fuel cost per unit burned is: ",
      fuel_type[fuel_type == fuel_type.min()].index.tolist()[0])

The fuel type code that has the lowest average fuel cost per unit burned is:  gas

### Question 4 - 
##### Answer is std - 10.60, 75% - 17.01

In [68]:
fuel_data['fuel_mmbtu_per_unit'].describe()[['std', '75%']].round(2)

std    10.60
75%    17.01
Name: fuel_mmbtu_per_unit, dtype: float64

### Question 5 - 
##### Answer is Skew - 15.85, Kurtosis - 651.37

In [71]:
print("Skewness for Fuel Qty Burned: ", fuel_data.fuel_qty_burned.skew().round(2))

print("Kurtosis for Fuel Qty Burned: ", fuel_data.fuel_qty_burned.kurtosis().round(2))

Skewness for Fuel Qty Burned:  15.85
Kurtosis for Fuel Qty Burned:  651.37

### Question 6 - 
##### Answer is Feature: fuel_unit, Total: 180, Percent: 0.61

In [139]:
missing_value_feature = fuel_data.isna().sum()[fuel_data.isna().any() > 0].index.tolist()[0]
print('Feature with missing value is: ', missing_value_feature)

Feature with missing value is:  fuel_unit

In [126]:
total_missing_values = fuel_data.isna().sum()[fuel_data.isna().any()][0]
missing_value_percentage = ((total_missing_values / (fuel_data.shape[0]) * 100).round(3))
print("Percentage of missing rows relative to the total number of rows is: ", missing_value_percentage)

Percentage of missing rows relative to the total number of rows is:  0.61

In [143]:
print(f"Hamoye Answer Format:\nFeature: {missing_value_feature}, Total: {total_missing_values}, Percent: {missing_value_percentage}")

Hamoye Answer Format:
Feature: fuel_unit, Total: 180, Percent: 0.61

### Question 7 - 
##### Answer is Categorical and mode imputation

In [145]:
set(fuel_data['fuel_unit'])

{'bbl', 'gal', 'gramsU', 'kgU', 'mcf', 'mmbtu', 'mwdth', 'mwhth', nan, 'ton'}

The feature with missing value (FUEL_UNIT) is Categorical; and Mode imputation (or mode substitution), which is used to replace missing values of a categorical variable by the mode of non-missing cases of that variable, will be suitable for it.

### Question 8 - 
##### Answer is "fuel_qty_burned and fuel_mmbtu_per_unit"

In [147]:
fuel_data.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [250]:
fuel_data.corr(method='pearson')['fuel_cost_per_unit_burned']

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

In [171]:
sorted(fuel_data.corr(method='pearson')['fuel_cost_per_unit_burned'])[1:3] # The second and third value

[-0.018535416794825232, -0.010033808428852969]

#### Hence the features that has the second and third lowest correlation with the Fuel Cost Per Unit Burned are: fuel_qty_burned and fuel_mmbtu_per_unit

### Question 9 - 
##### Answer is -21.0%

In [268]:
coalCost_1994 = fuel_data.fuel_cost_per_unit_burned[(fuel_data.fuel_type_code_pudl == 'coal') & (fuel_data.report_year == 1994)].sum()

coalCost_1998 = fuel_data.fuel_cost_per_unit_burned[(fuel_data.fuel_type_code_pudl == 'coal') & (fuel_data.report_year == 1998)].sum()

In [271]:
coalCost_1998

11902.597

In [276]:
print(round(100 * (coalCost_1998 - coalCost_1994)/coalCost_1994), '%')

-21.0 %

### Question 10 - 
##### Answer is 1997

In [287]:
# Year with the highest average fuel cost per unit delivered
x = fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values()
print(x, "\n\n")

print("Year with the highest average fuel cost per unit delivered is: ", x[x == x.max()].index[0])

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64


Year with the highest average fuel cost per unit delivered is:  1997